

@{
    ViewBag.Title = "Cập nhật danh mục";

    var lstTypeCategory = ViewData["CategoryTypes"] as IEnumerable<CategoryTypeModelDetail>;
    var parentCategories = ViewData["CategoryParents"] as IEnumerable<Category>;
}
@using DOMAIN.Models
@using COMMON.Helper
@model Category
@section JsFooter{
    <script src="/Content/plugins/jsCustom/createNewCategoryController.js"></script>
}

<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Cập nhật <small>danh mục</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form data-parsley-validate class="form-horizontal form-label-left" action="/Category/Update" method="post">
                        @Html.Hidden("Id", Model.Id)
                        @Html.Hidden("CreateBy", Model.CreateBy)
                        @Html.Hidden("CreateDate", Model.CreateDate)
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Kiểu danh mục <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("Type", new SelectList(lstTypeCategory, "TypeId", "Name", Model.Type), new { @required = "required", @class = "form-control col-md-7 col-xs-12" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Loại danh mục <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("ParentId", new SelectList(parentCategories, "Id", "Name", Model.ParentId), "--Là danh mục cha--", new { @class = "form-control col-md-7 col-xs-12" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Tên <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBox("Name", Model.Name, new { @required = "required", @class = "form-control col-md-7 col-xs-12", maxlength = "256" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Mã <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBox("Code", Model.Code, new { @required = "required", @class = "form-control col-md-7 col-xs-12", maxlength = "128" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Mô tả chung <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextArea("Descreption", Model.Descreption, new { @class = "form-control col-md-7 col-xs-12", maxlength = "256" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Trạng thái <span class="required"></span>
                            </label>
                            <div class="col-md-1 col-sm-11 col-xs-12">
                                @Html.CheckBox("Status", Model.Status, new { @class = "form-control col-md-7 col-xs-12" })
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" class="btn btn-primary" id="btnCancel">Hủy</button>
                                <button type="submit" class="btn btn-success">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


