
@{
    ViewBag.Title = "Danh sách các loại kích thước";
    var unitOfSizes = ViewData["UnitOfSize"] as IEnumerable<UnitOfSizeModelDetail>;
}
@using ShopManager.Models
@using COMMON.Helper
@using MvcPaging
@model SizeViewModel

@section JsFooter{
    <script src="/Content/plugins/jsCustom/sizeController.js"></script>
}

<div class="right_col" role="main">
    <div class="row">
        <form class="form-horizontal form-label-left" action="/Size/Index" method="post">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <label class="col-md-4 col-sm-4 col-xs-12 control-label">Chiều rộng: </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="number" step="any" class="form-control" value="@Model.Width" name="Width" min="0">
                    </div>                   
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <label class="col-md-4 col-sm-4 col-xs-12 control-label">Chiều dài: </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input type="number" step="any" class="form-control" value="@Model.Height" name="Height" min="0">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <label class="col-md-4 col-sm-4 col-xs-12 control-label">Đơn vị tính: </label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                       @Html.DropDownList("Unit", new SelectList(unitOfSizes, "Name", "Name", Model.Unit), "--Chọn tất cả--", new { @class = "form-control" })
                    </div>                    
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-md-1 col-sm-1 col-xs-12">
                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-search"> Tìm kiếm</i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="row">
        <button class="btn btn-primary pull-right" id="btnCreateNew"><i class="fa fa-plus-square">  Thêm mới</i></button>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách các kích thước</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title" style="width: 5%; text-align: center;">STT </th>
                                    <th class="column-title" style="width: 20%; text-align: center;">Chiều rộng</th>
                                    <th class="column-title" style="width: 15%; text-align: center;">Chiều dài </th>
                                    <th class="column-title" style="width: 15%; text-align: center;">Sửa lần cuối </th>
                                    <th class="column-title" style="width: 15%; text-align: center;">Trạng thái </th>
                                    <th class="column-title" style="width: 30%; text-align: center;"># </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var lst = Model.Sizes.ToList();
                                    var i = Model.Sizes.PageIndex * Model.Sizes.PageSize;
                                }
                                @foreach (var item in lst)
                                {
                                    using (Html.BeginForm("Delete", "Size", FormMethod.Post, new { @id = "frm_" + item.Id }))
                                    {
                                        @Html.Hidden("id", item.Id)
                                        <tr class="even pointer">
                                            <td style="width: 5%; text-align: center;">@(++i)</td>
                                            <td style="width: 20%; text-align: center;">@item.Width</td>
                                            <td style="width: 15%; text-align: center;">@item.Height</td>
                                            @if (item.UpdateDate.HasValue)
                                            {
                                                <td style="width: 15%; text-align: center;">@item.UpdateDate.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td style="width: 15%; text-align: center;"></td>
                                            }
                                            <td style="width: 15%; text-align: center;">@(item.Status ? "Kích hoạt" : "Tạm khóa")</td>
                                            <td style="width: 30%; text-align: center;">
                                                <button class="editUnit btn btn-round btn-default" title="Sửa thông tin" data-id="@item.Id"><i class="fa fa-pencil-square"></i></button>
                                                <button class="deleteUnit btn btn-round btn-default" title="Xóa" data-id="@item.Id" type="button"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="paging col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8 col-xs-12 pull-right">
                        @Html.Pager(Model.Sizes.PageSize, Model.Sizes.PageNumber, Model.Sizes.TotalItemCount).Options(n => n.AddRouteValueFor(m => m.Width)).Options(n => n.AddRouteValueFor(m => m.Height)).Options(n => n.AddRouteValueFor(m => m.Unit).DisplayFirstAndLastPage().SetFirstPageText("<< Đầu").SetLastPageText("Cuối >>").SetNextPageText("Sau >").SetPreviousPageText("< Trước"))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="modalConfirmDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label style="color: red;">CẢNH BÁO</label>
            </div>
            <div class="modal-body form-horizontal">
                <p>Xóa dữ liệu này có thể xóa đi các dữ liệu có liên quan.</p>
                <p>Bạn chắc chắn muốn xóa?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="btnOkDelete">Xóa</button>
                <button data-dismiss="modal" class="pull-right btn btn-default" onclick="$('#modalConfirmDelete').hide();"><i class="fa fa-close"></i>Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-default" id="modalViewDetail">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4><i class="fa fa-eye"></i> Thông tin chi tiết</h4>
            </div>
            <div class="modal-body form-horizontal">

                <div class="form-group">
                    <div class="col-sm-3">Tên:</div>
                    <p class="col-sm-7 lblName"></p>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">Người tạo:</div>
                    <p class="col-sm-7 lblCreateBy"></p>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">Ngày Tạo:</div>
                    <p class="col-sm-7 lblCreateDate"></p>
                </div>

                <div class="form-group">
                    <div class="col-sm-3"> Người sửa lần cuối:</div>
                    <p class="col-sm-7 lblUpdateBy"></p>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">Lần Cuối Chỉnh Sửa:</div>
                    <p class="col-sm-7 lblUpdateDate"></p>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">Mô tả chung:</div>
                    <p class="col-sm-7 lblDescreption"></p>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">Trạng Thái:</div>
                    <p class="col-sm-7 lblStatus"></p>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="pull-right btn btn-danger"><i class="fa fa-close"></i>Đóng</a>
            </div>
        </div>
    </div>
</div>



